{% load crispy_forms_tags %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Wealth and Awesomeness</title>
</head>
<body>
    <form method="POST">
        {% csrf_token %}
        <fieldset>
            <legend>Log in to your account</legend>
            {{ form|crispy }}
        </fieldset>
        <button type="submit">Log in</button>
    </form>
    Don't have an account? Register <a href="{% url 'register' %}">here</a>
</body>
</html>
